In [10]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup as BS
import requests
import re
import json
import pprint 
import calendar
import datetime

%matplotlib inline

In [14]:
one_yr_sp_count_region = pd.read_csv('../data/datadiversitykids/region_sp_hh/sp_hh_count_region_one_yr.csv')
one_yr_sp_count_region.head(5)

,geoid,name,year,total_est,total_se,aian_se,aian_est,api_se,api_est,asian_se,...,nnhwhite_se,nnhwhite_est,other_se,other_est,othermore_se,othermore_est,twomore_se,twomore_est,white_se,white_est
0,02000US1,Northeast Region,2009,3591526,18178.579359,1187.196846,13910,3229.575612,113644,3214.168947,...,22656.667018,1626352,5062.295933,307014,5839.363182,379982,2910.553599,72968,14443.141129,2257205
1,02000US1,Northeast Region,2010,3722961,18379.573293,903.884521,14944,3296.578580,119921,3275.570957,...,22264.351172,1733466,6335.502799,337922,7120.531921,429534,3250.135247,91612,13538.509509,2314898
2,02000US1,Northeast Region,2011,3758465,17859.248241,1161.000829,15779,3559.694081,129340,3546.482030,...,22335.507663,1755845,6162.372209,358377,6978.889705,449116,3275.678598,90739,14269.608950,2325839
3,02000US1,Northeast Region,2012,3768942,15881.590008,1128.302397,16305,3393.935659,130045,3363.161257,...,19836.134837,1778096,5902.195561,345323,6341.147348,434520,2318.240117,89197,12986.868992,2337160
4,02000US1,Northeast Region,2013,3745531,17270.537390,1242.790690,15438,3700.248083,133018,3680.976567,...,20953.931344,1771597,6012.669701,355492,6799.093608,447596,3174.189180,92104,12912.745235,2307763

pd.set_option('display.max_rows', None)