In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import re

%matplotlib inline

Table 1. Annual Estimates of the Resident Population for the United States, Regions, States, and Puerto Rico: April 1, 2010 to July 1, 2019

Note: The estimates are based on the 2010 Census and reflect changes to the April 1, 2010 population due to the Count Question Resolution program and geographic program revisions. See Geographic Terms and Definitions at http://www.census.gov/programs-surveys/popest/guidance-geographies/terms-and-definitions.html for a list of the states that are included in each region.  All geographic boundaries for the 2019 population estimates series except statistical area delineations are as of January 1, 2019.  For population estimates methodology statements, see http://www.census.gov/programs-surveys/popest/technical-documentation/methodology.html.												
Suggested Citation:												
Table 1. Annual Estimates of the Resident Population for the United States, Regions, States, and Puerto Rico: April 1, 2010 to July 1, 2019 (NST-EST2019-01)												
Source: U.S. Census Bureau, Population Division												
Release Date: December 2019												

Shttps://www.census.gov/data/datasets/time-series/demo/popest/2010s-state-total.html

This page features all the files containing Vintage 2019 state population totals and components of change.

Tables: Stats displayed in columns and rows with title, ID, notes, sources, and release date.  Many tables are in downloadable XLS, CSV and PDF file formats.
Datasets: Data files to download for analysis in spreadsheet, statistical, or geographic information systems software.

NOTE: POPULATION for 2000-2022
https://www.census.gov/programs-surveys/popest/data/data-sets.html

In [2]:
states_pop = pd.read_excel('../data/single_parent/census/state_population_tables/state_regional_population_totals_2010_2019.xlsx', skiprows=3, nrows=56)
pd.set_option('display.max_rows', None)
states_pop.tail(3)

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
53,.West Virginia,1852994,1853018,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
54,.Wisconsin,5686986,5687285,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434
55,.Wyoming,563626,563775,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759

In [3]:
states_pop['Unnamed: 0'] = states_pop['Unnamed: 0'].str.replace(re.escape('.'), '')

C:\Users\houxu\AppData\Local\Temp\ipykernel_37948\184060849.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  states_pop['Unnamed: 0'] = states_pop['Unnamed: 0'].str.replace(re.escape('.'), '')

In [4]:
#drop national, regional rows
states_pop = states_pop.drop(labels=[0, 1, 2, 3, 4]).reset_index(drop=True)
states_pop.head(3)

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Alabama,4779736,4780125,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Alaska,710231,710249,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
2,Arizona,6392017,6392288,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717

In [5]:
#rename columns
states_pop.rename(columns = {'Unnamed: 0': 'name'})

,name,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Alabama,4779736,4780125,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Alaska,710231,710249,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
2,Arizona,6392017,6392288,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
3,Arkansas,2915918,2916031,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
4,California,37253956,37254519,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
5,Colorado,5029196,5029319,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
6,Connecticut,3574097,3574147,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
7,Delaware,897934,897937,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764
8,District of Columbia,601723,601767,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749
9,Florida,18801310,18804564,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
10,Georgia,9687653,9688729,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
11,Hawaii,1360301,1360307,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
12,Idaho,1567582,1567657,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
13,Illinois,12830632,12831572,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
14,Indiana,6483802,6484051,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
15,Iowa,3046355,3046871,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070
16,Kansas,2853118,2853123,2858190,2869225,2885257,2893212,2900475,2909011,2910844,2908718,2911359,2913314
17,Kentucky,4339367,4339333,4348181,4369821,4386346,4404659,4414349,4425976,4438182,4452268,4461153,4467673
18,Louisiana,4533372,4533487,4544532,4575625,4600972,4624527,4644013,4664628,4678135,4670560,4659690,4648794
19,Maine,1328361,1328358,1327629,1328284,1327729,1328009,1330513,1328262,1331317,1334612,1339057,1344212
20,Maryland,5773552,5773794,5788645,5839419,5886992,5923188,5957283,5985562,6003323,6023868,6035802,6045680
21,Massachusetts,6547629,6547785,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503
22,Michigan,9883640,9884116,9877510,9882412,9897145,9913065,9929848,9931715,9950571,9973114,9984072,9986857
23,Minnesota,5303925,5303927,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632
24,Mississippi,2967297,2968130,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149
25,Missouri,5988927,5988950,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428
26,Montana,989415,989407,990697,997316,1003783,1013569,1021869,1030475,1040859,1052482,1060665,1068778
27,Nebraska,1826341,1826305,1829542,1840672,1853303,1865279,1879321,1891277,1905616,1915947,1925614,1934408
28,Nevada,2700551,2700677,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156
29,New Hampshire,1316470,1316462,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
30,New Jersey,8791894,8791978,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
31,New Mexico,2059179,2059199,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
32,New York,19378102,19378144,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
33,North Carolina,9535483,9535751,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
34,North Dakota,672591,672576,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062
35,Ohio,11536504,11536751,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
36,Oklahoma,3751351,3751582,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971
37,Oregon,3831074,3831079,3837491,3872036,3899001,3922468,3963244,4015792,4089976,4143625,4181886,4217737
38,Pennsylvania,12702379,12702868,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
39,Rhode Island,1052567,1052964,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361
40,South Carolina,4625364,4625366,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714
41,South Dakota,814180,814198,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659
42,Tennessee,6346105,6346276,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174
43,Texas,25145561,25146091,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881
44,Utah,2763885,2763891,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
45,Vermont,625741,625737,625879,627049,626090,626210,625214,625216,623657,624344,624358,623989
46,Virginia,8001024,8001049,8023699,8101155,8185080,8252427,8310993,8361808,8410106,8463587,8501286,8535519
47,Washington,6724540,6724540,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893
48,West Virginia,1852994,1853018,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
49,Wisconsin,5686986,5687285,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434
50,Wyoming,563626,563775,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759

states_pop.to_csv('../data/single_parent/census/state_population_tables/states.pop.csv', index = False)

In [7]:
regions_pop = pd.read_excel('../data/single_parent/census/state_population_tables/state_regional_population_totals_2010_2019.xlsx', skiprows=3, nrows=5)
pd.set_option('display.max_rows', None)
regions_pop.head(5)

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,308745538,308758105,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,326687501,328239523
1,Northeast,55317240,55318443,55380134,55604223,55775216,55901806,56006011,56034684,56042330,56059240,56046620,55982803
2,Midwest,66927001,66929725,66974416,67157800,67336743,67560379,67745167,67860583,67987540,68126781,68236628,68329004
3,South,114555744,114563030,114866680,116006522,117241208,118364400,119624037,120997341,122351760,123542189,124569433,125580448
4,West,71945553,71946907,72100436,72788329,73477823,74167130,74925793,75742555,76559681,77257329,77834820,78347268

In [8]:
#rename columns
regions_pop.rename(columns = {'Unnamed: 0': 'name'})

,name,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,308745538,308758105,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,326687501,328239523
1,Northeast,55317240,55318443,55380134,55604223,55775216,55901806,56006011,56034684,56042330,56059240,56046620,55982803
2,Midwest,66927001,66929725,66974416,67157800,67336743,67560379,67745167,67860583,67987540,68126781,68236628,68329004
3,South,114555744,114563030,114866680,116006522,117241208,118364400,119624037,120997341,122351760,123542189,124569433,125580448
4,West,71945553,71946907,72100436,72788329,73477823,74167130,74925793,75742555,76559681,77257329,77834820,78347268

regions_pop.to_csv('../data/single_parent/census/state_population_tables/regions.pop.csv', index = False)